---
const { about } = Astro.props;
---
<div class="about-shape-top">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill">
      </path>
  </svg>
</div>
<section id={about.id} class="title-section py-6 px-6 bg-main-bg overflow-x-hidden">
  <div data-aos="flip-up"
       data-aos-duration="2000" 
       class="max-w-5xl mx-auto">
    <h2 class="text-3xl font-bold text-magenta mb-6">{about.title}</h2>
    <span class="text-text-main text-lg leading-relaxed font-inter" set:html={about.description}></span>        
  </div>
</section>
