---
const { footer } = Astro.props;
//const footer = es.footer;
const currentYear = new Date().getFullYear();
---
<div class="w-full flex justify-center">
  <div class="h-[3px] w-full bg-[#d946ef] "></div>
</div>
<footer class="bg-main-bg py-8 px-4 flex items-center justify-between flex-col md:flex-row">
  <!-- <div class="max-w-6xl mx-auto  gap-6 md:gap-0"> -->
    <p class="text-lg md:text-md font-bold text-primary font-poppins text-center md:text-left">
      &copy; {currentYear} - {footer.name} | {footer.description}
    </p>
    <!-- <div class="flex flex-col items-center gap-4">
      <a href="https://www.google.com/maps?sca_esv=e6a856e083a4051b&output=search&q=arroyo+seco+santa+fe&source=lnms&fbs=AIIjpHx4nJjfGojPVHhEACUHPiMQ888Yp7kQAgn2suUAOWN4gr_S9GlBEYq0W4Xv3oU6cItbNYt_EA4ieM518BbxPk_13C3Iq0fG4vIbC5nrT71tiwngSc6BD4iYF9lWq2HkxIRqne67bU4bB4AhwuBuRp8ONH4Hwux-lsLZyIkNYarmIbMTEq3kKMsvoXkxcGWv9ZpQnIxOtq3PfswQLaRvo2je7pj23g&entry=mc&ved=1t:200715&ictx=111" target="_blank" class="flex items-center text-xs md:text-md  font-bold text-primary font-poppins hover:text-magenta">
        {footer.contact.location}
        <img src="/svg/ar.svg" alt="English" class="mx-2 w-6 h-6" />
      </a>
    </div> -->
  <!-- </div> -->
</footer>
